
@font-face {
  font-family:"Mind-typeface";
  src: url("./assets/Poppins-Regular.ttf");
}

*{
  font-family: "Mind-typeface";
  user-select: none;
  max-zoom: 1.0;
}

:root{
  --global-bg-color:#131313;
  --global-text-color:ivory;
  --global-bg-shade-color:#1E1E1E;
}

body{
  background:var(--global-bg-color);
}

button{
  border-color:transparent;
  outline:none;
}