
@font-face {
  font-family:"Mind-typeface";
  src: url("./assets/Poppins-Regular.ttf");
}

*{
  font-family: "Mind-typeface";
  user-select: none;
  scroll-behavior: smooth;
}


:root{
  --global-bg-color:#131313;
  --global-text-color:ivory;
  --global-bg-shade-color:#1E1E1E;
  --global-blur-color:rgba(30, 30, 30, 0.719);
}

body{
  background:var(--global-bg-color);
  box-sizing: border-box;
}

button{
  border-color:transparent;
  outline:none;
}
::-webkit-scrollbar{
  width:10px;
  height:10px;
}

a{
  color:var(--global-bg-color);
  text-decoration:none;
  font-weight:bold;
}